* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;

}

body {
  background-color: #eee;
}

header {
  background-color: #04b9ad;
  padding: 16px 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header h1 {
  width: fit-content;
  color: white;
}

.noteform {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  /* width: 240px; */
  /* text-align: right; Remove this line */
  margin: 16px;
  float: left;
  vertical-align: top;
}

.noteform input,
.noteform textarea {
  width: calc(100% - 20px); /* Adjust the width as needed */
  margin-bottom: 10px;
  padding: 5px;
}

/* Add this style to align label text properly */
.noteform label {
  text-align: left;
  display: block;
  margin-bottom: 5px; /* Adjust as needed */
}



.note {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
  position: relative;
}

.note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}

.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}


.addbtn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  text-align: center;
  background-color: #04b9ad;
  color: white;
  font-size: xx-large;
  position: absolute;
  bottom: 20px;
  right: 20px;
  transition: transform 0.3s ease;
}

.rotate {
  transform: rotate(45deg);
}

.deletebtn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: medium;
  border: none;
  text-align: center;
  background-color: #eee;
  color: black;
  position: absolute;
  bottom: 5px;
  right: 5px;
}